@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Itim&display=swap');

#fs-4{
  margin-right:120px;
  color:#ff7c14;
}
#bi-database{
  margin-left:35px;
}
#bgcolor{
  background-color:#ff7c14;
}
#sbg{
  background-color:#ff7c14;
  margin-left:-30px;
  width:250px;
}
#btnbg{
  background-color:#ff7c14;
}


.navtxt:hover {
  color: #fc8422 !important;
}



.food-name{
  text-align: center;
  font-size: 48px;
  font-family: itim;
}



#bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  #bd-placeholder-img {
    font-size: 3.5rem;
  }
}



/* Add hover effect */
.card:hover {
  transform: scale(1.05); /* Slight zoom */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-text {
  font-size: 1rem;
  text-align: center;
}

/* Tooltips for discounts */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 120px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}




#move-up{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}










#full-food-card{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(88px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}




